.form{
    padding: 2em;
    margin: 0 auto;
    width: 50%;
}

h1{
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

.titleAgregarP{
    text-align: center;
}

.peliculasButton{
    margin-bottom: 1.5em;
}