.navbar{
    position: sticky;
    z-index: 2;
}

.divReporte{
    text-align: justify;
    padding: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

.titleReporte{
    text-align: center;
    padding-bottom: 1em;
}

.App-footer
{
    grid-area: footer;
    width: 100%;
    height: 100%;
}