h3
{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}
p
{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.contenedorTarjeta
{
    position: relative;
    padding: 0px;
    margin: 30px 30px;
    width: 200px;
    height: 300px;
    
}
.contenedorTarjeta #adelante
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #282c34;
    border: 1px solid white;
    color: greenyellow;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: 1s;
    transform: perspective(500px) rotateY(0deg);
}
.contenedorTarjeta:hover #adelante
{
    transform: perspective(500px) rotateY(180deg);
}
.contenedorTarjeta #atras
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #282c34;
    border: 1px solid white;
    color: greenyellow;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: 1s;
    padding: 5px;
    transform: perspective(500px) rotateY(180deg);
}
.contenedorTarjeta:hover #atras
{
    transform: perspective(500px) rotateY(0deg);
}

.botonesTarjetas
{
    width: 20px;
    height: 50px;
    color: white;
}
#comprar
{
    background: lightgreen;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    border-radius: 5px;
    border: none;
}

#imagen-tarjeta
{
    width: 100%;
    height: 70%;
}
#info
{
    height: 65%;
    overflow: hidden;   
}
#botones
{
    height: 20%;
}
#botones button
{
    margin: 5px auto;
    width: 90%;
    height: 80%;
}